  img{
    width: 100%;
    height: auto;
  }

  *{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Chivo', sans-serif;
}

a,a:hover{
	text-decoration: none;
}

ul{
	list-style: none;
}
.navbar{
	background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%;
}
.header{
	background: linear-gradient(90deg, #4b6cb7 0%, #182848 90%);
}


.navbar{
    width: 100%;
    margin-top: 20px;
    background-color: #2e8b57;
}


}
.navbar  a{
	color: #fff;
	font-size: 30px;
	margin-left: 50px;
}
.navbar .menu ul{
	margin-left: 165px;
}

.navbar .menu ul li{
	display: inline-block;
	align-items: center;
    margin-inline: 10px;
}

.navbar .menu ul li a{
	color: #fff;
    font-size: 1vmax;
	font-weight: 500;
	letter-spacing: 1px;

}
.navbar .menu ul li a:hover{
	color: #000;
}

.contact-info ul li{
	display: inline-block;
    align-items: center;
    margin-right: 40px;
    margin-top: 20px;
}

.contact-info ul li a{
	color: #fff;
	font-size: 1vmax;
	transition: all 0.3s;
}


.contact-info ul li a:hover{
	color: #000;
}


 

.education {
	position: absolute;
	left: 0;
}

.education h1{
	font-size: 2.6vw;
	position: relative;
	margin-top: 50px;

}
.education h1 span{
	font-size: 2.6vw;
	position: relative;
	font-weight: 700;
	padding-left: 400px;
	background: -webkit-linear-gradient(90deg, #4b6cb7 0%, #182848 100%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.aspirations {
	position: absolute;
	left: 0;
}

.aspirations h1 span{
	font-size: 2.6vw;
	position: relative;
	font-weight: 700;
	padding-left: 400px;
	background: -webkit-linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.aspirations h1 {
	font-size: 2.6vw;
	position: relative;
	margin-top: 260px;
}

.hobbies {
	position: absolute;
	left: 0;
}

.hobbies h1 span{
	font-size: 2.6vw;
	position: relative;
	margin-top: 550px;
	font-weight: 700;
	padding-left: 400px;
	background: -webkit-linear-gradient(90deg, #4b6cb7 0%, #182848 100%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.hobbies h1{
	font-size: 2.6vw;
	position: relative;
	margin-top: 500px;
}

.hobbies a{
		background: -webkit-linear-gradient(90deg, #9ebd13 0%, #008552 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.education textarea,
.aspirations textarea,
.hobbies textarea {
    font-size: 1.1vw;
    position: relative;
    font-weight: 700;
    line-height: 1.3;
    padding-left: 30px;
    padding-right: 30px;
    color: #7285a5;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    resize: none;
	background-color: transparent;
}


.photo {
	right: 50px;
	position: absolute;
	margin-top:130px;
	max-width:25%;
	height: auto;
	border: 2px solid black;
	border-radius: 5px;

}
@keyframes transitionIn {
	from {
		opacity: .2;
	}

	to {
		opacity: 1;
	}

}
.navbar {
	animation: transitionIn .55s;
}
.education {
	animation: transitionIn .55s;
}
.aspirations {
	animation: transitionIn .55s;
}
.hobbies {
	animation: transitionIn .55s;
}
.photo {
	animation: transitionIn .55s;
}
.banner {
	animation: transitionIn .55s;
}
