.title span {
	font-family: 'Chivo', sans-serif;
	font-size: 40px;
	text-align: center;
	margin-top: 15px;
	background: -webkit-linear-gradient(90deg, #9ebd13 0%, #008552 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

}
.title {
		font-family: 'Chivo', sans-serif;
	font-size: 40px;
	text-align: center;
	margin-top: 15px;
}


a,a:hover{
	text-decoration: none;
}

ul{
	list-style: none;
}
.navbar{
	background: linear-gradient(90deg, #9ebd13 0%, #008552 100%);
}
.header{
	background: linear-gradient(90deg, #9ebd13 0%, #008552 100%);
}


.navbar{
    width: 100%;
    margin-top: 20px;
    background-color: #2e8b57;
}


}
.navbar  a{
	color: #fff;
	font-size: 30px;
	margin-left: 50px;
}
.navbar .menu ul{
	margin-left: 165px;
}

.navbar .menu ul li{
	display: inline-block;
	align-items: center;
    margin-inline: 10px;
}

.navbar .menu ul li a{
	color: #000;
    font-size: 1vmax;
	font-weight: 500;
	letter-spacing: 1px;

}
.navbar .menu ul li a:hover{
	color: #fff;
}

.contact-info ul li{
	display: inline-block;
    align-items: center;
    margin-right: 40px;
    margin-top: 20px;
}

.contact-info ul li a{
	color: #000;
	font-size: 1vmax;
	transition: all 0.3s;
}


.contact-info ul li a:hover{
	color: #fff;
}



.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}


.column {
  flex: 25%;
  max-width: 33.3%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border: 2px solid black;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.3s linear;
}
.column img:hover {
  filter: grayscale(0);
}
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}


@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }

}

@keyframes transitionIn {
	from {
		opacity: .2;
	}

	to {
		opacity: 1;
	}

}

.column img {
	animation: transitionIn .55s;
}


