.title span {
	font-family: 'Chivo', sans-serif;
	font-size: 40px;
	text-align: center;
	margin-top: 15px;
	background: -webkit-linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

}
.title {
		font-family: 'Chivo', sans-serif;
	font-size: 40px;
	text-align: center;
	margin-top: 15px;
}


a,a:hover{
	text-decoration: none;
}

ul{
	list-style: none;
}
.navbar{
	background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}
.header{
	background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}


.navbar{
    width: 100%;
    margin-top: 20px;
    background-color: #2e8b57;
}


}
.navbar  a{
	color: #fff;
	font-size: 30px;
	margin-left: 50px;
}
.navbar .menu ul{
	margin-left: 165px;
}

.navbar .menu ul li{
	display: inline-block;
	align-items: center;
    margin-inline: 10px;
}

.navbar .menu ul li a{
	color: #fff;
    font-size: 1vmax;
	font-weight: 500;
	letter-spacing: 1px;

}
.navbar .menu ul li a:hover{
	color: #000;
}

.contact-info ul li{
	display: inline-block;
    align-items: center;
    margin-right: 40px;
    margin-top: 20px;
}

.contact-info ul li a{
	color: #fff;
	font-size: 1vmax;
	transition: all 0.3s;
}


.contact-info ul li a:hover{
	color: #000;
}

        .projects {
            width: 100%;
            float: left;
            padding: 20px;
            box-sizing: border-box;
        }

        .projects h1 a{
            font-size: 34px;
            background: -webkit-linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
        }

        .projects a:hover{
	color: #fff;
	transition: all .5s;
}
		.projects h2 {
			font-size: 28px;
			background: -webkit-linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;

		}


        .projects textarea {
            font-size: 18px;
            color: #7285a5;
            font-weight: 700;
            line-height: 1.3;
            border: double;
            border-radius: 5px;
            overflow: hidden;
            resize: none;
            background-color: transparent;
            width: 100%;
            height: 190px;
            padding: 10px;
        }

        .coursework {
            width: 50%;
            float: right;
            padding: 20px;
            box-sizing: border-box;
        }

        .coursework h1 {
            font-size: 34px;
            color: #182848;
        }
        .coursework h1 span{
            font-size: 34px;
            background: -webkit-linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
        }

        .coursework textarea {
            font-size: 18px;
            color: #7285a5;
            font-weight: 700;
            line-height: 1.3;
            border: double;
            border-radius: 5px;
            overflow: hidden;
            resize: none;
            background-color: transparent;
            width: 100%;
            height: 410px;
            padding: 10px;
        }





.banner {
	animation: transitionIn .55s;
}
.project1 {
	animation: transitionIn .55s;
}
@keyframes transitionIn {
	from {
		opacity: .2;
	}

	to {
		opacity: 1;
	}

}
