
  img{
    width: 100%;
    height: auto;
  }

  .app-text{
    top: 28%;
    right: 33%;
  }

.app-text h1{
    font-size: 4.2vw;

  }

.app-text a{
    font-size: 1.2vw;
  }

  *{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Chivo', sans-serif;
}

a,a:hover{
	text-decoration: none;
}

ul{
	list-style: none;
}


.navbar{
    width: 100%;
    margin-top: 20px;
}


}
.navbar  a{
	color: #fff;
	font-size: 30px;
	margin-left: 50px;
}
.navbar .menu ul{
	margin-left: 165px;
}

.navbar .menu ul li{
	display: inline-block;
	align-items: center;
    margin-inline: 10px;
}

.navbar .menu ul li a{
	color: #000;
    font-size: 1vmax;
	font-weight: 500;
	letter-spacing: 1px;

}
.navbar .menu ul li a:hover{
	color: #2e8b57;
}

.contact-info ul li{
	display: inline-block;
    align-items: center;
    margin-right: 40px;
    margin-top: 20px;
}

.contact-info ul li a{
	color: #000;
	font-size: 1vmax;
	transition: all 0.3s;
}


.contact-info ul li a:hover{
	color: #2e8b57;
}

.app-text h1 span{
	background: -webkit-linear-gradient(90deg, #9ebd13 0%, #008552 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 700;
}

.app-text h1 {
	color: #fff;
	font-weight: 700;
}

.paperclip{
	display: flex;
	width: 100%;
	position: relative;
	margin-top: 20px;
}

.app-text .paperclip a:hover{
	color: #fff;
	transition: all .5s;
}

.paperclip a{
	color:#9ebd13;
	cursor: pointer;
}



.contact-info {
	animation: transitionIn .65s;
}
.app-text {
	animation: transitionIn 1.25s;
}
 
@keyframes transitionIn {
	from {
		opacity: .2;
	}

	to {
		opacity: 1;
	}

}
